<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <title>Log in Form</title>

</head>
<body>
    
    <div class="loginbox">
        <img src="{% static 'img/logo.png' %}" class="logo">
    <h1>LOGIN HERE</h1>
    
    <form action="login" method="POST">
        {% csrf_token %}
    <label for="uname">Username :</label>
    <input type="text" id="uname" name="username" placeholder="Enter Username" required><br>
    <label for="pwd">Password :</label>
    <input type="password" id="pwd" name="password" placeholder="Enter Password" required>
    <center><h5>
        {% for message in messages %}
        {{message}}
        {% endfor %}
    </h5></center>
    <input type="submit" value="Login">
    </form>
    <a href="{% url 'reset_password' %}">Forgot Password?</a><br><br>
    <a href="{% url 'register' %}">Don't have an account?</a>
    
    
    </div>
</body>
</html>